#======== C++ =========
*.exe
*.exe~
*.o
*.obj
*.out

#======== Python =========
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
*.py[cod]
*.so
*.egg-info/
dist/
build/

#======== Java =========
*.class
target/
bin/
*.jar
*.war
*.log
.idea/

#======== VSCode 通用配置 ========
.vscode/
